<ion-content>
  <div> 
    <div> 
      <ion-title> ForoDuoc </ion-title>
    </div>  
    <div> 
      <ion-title> Inicio de sesión </ion-title> 
      <form>
        <ion-item>  
          <ion-label> Correo Institucional </ion-label>
           <ion-input type="text"> </ion-input>
        </ion-item>
        <ion-item>  
          <ion-label> Contraseña </ion-label>
           <ion-input type="password"> </ion-input> 
        </ion-item> 
        <ion-button type="submit" color="primary" expand="block"> Iniciar sesión </ion-button> 
      </form>
    </div> 
    <div> 
    </div> 
  </div>
</ion-content>